*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    background-image: linear-gradient(to left, #ffb300 0%,#956800 50%, #0d0114 100%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    font-family: 'Lobster', cursive;
    
}

body h1 {
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 600;
}

body h2{
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

label{
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

thead tr th {
    background-image: linear-gradient(to top, #ffb300 0%,#956800 50%, #0d0114 100%);
    
}

/*Botón agregar*/
button:nth-child(1) {
    color: black;
    background-color: #ffb300;
    border: none;
    border-radius: 5px;
    padding:10px 15px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

button:nth-child(1):hover {
    color: #ffb300;
    background-color: #0d0114;
}


tr {
    box-shadow: 0 4px 8px rgba(255, 174, 0, 0.9);
    transition: background-color 0.1s, transform 0.1s;
}


tr:hover {
    transform: translateY(-1px);
}


::placeholder {
    font-family: 'Lobster', cursive;
}

.form1{
    background-image: linear-gradient(to top, #ffb300 0%, #0d0114 100%);
}

.btn.eliminar-pelicula {
    color: #ffffff;
    background-color: #ffc107; 
    border: 1px solid #ffc107;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}


.btn.eliminar-pelicula:hover {
    background-color: #e0a800; 
    border-color: #e0a800;
    /* transform: translateY(-1px); */
}

/*Estrellas*/
.star1{
    font-size: 40px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
    display: flex;
    
}

.star1:hover,
.star1.checked {
    color: gold;
    text-shadow: 0 0 20px rgba(255, 106, 0, 1);
    transition: text-shadow 0.1s; 
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
}


.row  td {
    font-weight: bold;
}

/*Al estar vacío el Json*/
.mensaje-vacio {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}
